<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/file/list</title>
</head>
<body>
	<div class="container">
		<h1>파일업로드 시작</h1>
		<table class="table table">
			<thead>
				<tr>
					<th>번호</th>
					<th>작성자</th>
					<th>제목</th>
					<th>파일명</th>
					<th>크기</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>				
				<tr th:each="tmp:${list}">
					<td th:text="${tmp.num}"></td>
					<td th:text="${tmp.userName}"></td>
					<td th:text="${tmp.title}"></td>
					<td><a th:href="@{/file/download(num=${tmp.num})">[[${tmp.orgFileName}]]</a></td>
					<td th:text="${tmp.fileSize}"></td>
					<td th:text="${tmp.regdate}"></td>
					<td>
						<c:if test="${tmp.writer eq sessionScope.id }">
							<a href="${pageContext.request.contextPath}/file/protected/delete.jsp?num=${tmp.num}">삭제</a>
						</c:if>
					</td>
				</tr>				
			</tbody>
		</table>
	</div>
</body>
</html>