<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/member/home.html</title>
</head>
<body>
	<!--/*
		request scope에 "list"라는 키값으로 List<MemberDto> 객체가 담겨 있다.
		따라서 해당 데이터는 Thymeleaf 에서는 ${list}를 이용해서 해당 데이터를 얻어내서 사용할 수 있다.
	*/-->
	<div class="container">
		<a th:href="@{/member/insertform}">회원 추가 </a>
		<h3>회원 목록입니다.</h3>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>주소</th>
					<th>수정</th>
					<th>삭제</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="tmp :${list}">
					<td th:text="${tmp.num}"></td>
					<td>[[${tmp.name}]]</td>
					<td>[[${tmp.addr}]]</td>
					<td>
						<a th:href="@{/member/updateform(num=${tmp.num})}">수정</a>
					</td>
					<td>
						<a th:href="@{/member/delete(num=${tmp.num})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>